/** Large Banner **/
.large_banner {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3em;
}

.large_banner h1 {
    font-size: 72px;
    font-weight: 600;
}

.large_banner h2 {
    font-size: 48px;
    font-weight: 600;
}

.large_banner p {
    font-size: 18px;
    font-weight: 600;
    margin: 5em 0;
}

/**General Banner **/

.banner_content_container {
    width: 960px;
    margin: 8% 0 5% 0;
}

.banner_content {
    max-width: 960px;
}

.banner_content button {
    margin-right: 2em;
}


/** Small Banner **/
.small_banner {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3em;
}

.small_banner h1 {
    font-size: 48px;
    font-weight: 600;
}

.small_banner p {
    font-size: 18px;
    font-weight: 600;
    margin: 5em 0;
}

.small_banner h4 {
    font-size: 18px;
}

/** Page Banner **/
.page_banner {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2em;
    min-height: 100vh;
}

.page_banner h1 {
    font-size: 72px;
    font-weight: 600;
    margin: 0;
}

.page_banner h2 {
    font-size: 48px;
    font-weight: 600;
}

.page_banner p, .page_banner ol {
    font-size: 18px;
    font-weight: 600;
}

/**********************************************
****************CARD***************************
***********************************************/

.card {
    height: 448px;
    width: 448px;
    text-align: center;
    border: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

.card_content h3{
    font-size: 34px;
}

.card_content p {
    font-size: 18px;
    margin: 0;
}

.card_content button {
    background-color: transparent;
    color: #000000;
    border: 1px solid #000000;
    margin: 0;
    top: 5em;
    font-weight: 600;
}

/**********************************************
****************MEDIA QUERIES******************
***********************************************/

@media screen and (max-width: 500px) {
    .large_banner h1 {
        font-size: 36px;
    }
    .large_banner h2 {
        font-size: 18px;
    }
    .large_banner p {
        margin: 2em 0;
    }
    .page_banner h1 {
        font-size: 48px;
    }
    .card {
        height: 240px;
        width: 160px;
        padding: 0.75em;
    }
    .card_content h3{
        font-size: 26px;
    }
    .card_content p {
        font-size: 12px;
    }
    .card_content button {
        top: 0;
    }
}