.form_container {
    display: flex;
    justify-content: center;
}

.form {
    max-width: 960px;
    padding: 3em;
    margin: 2em 0;
    border: 1px solid lightgray;
}

.form h1 {
    font-size: 32px;
}

.form form div div {
    white-space: normal;
    text-align: left;
}

.form label {
    height: 100%
}

.form textarea {
    max-width: 30em;
    width: 100%;
    height: 10em !important;
}

@media (max-width: 600px) {
    .form {
        border: none;
    }
    .form textarea {
        width: 100%;
    }
}