.row {
    width: 960px;
    display: flex;
    justify-content: space-between;
}

.col_two {
    display: flex;
    border-bottom: 1px solid #cccccc;
    justify-content: space-evenly;
    padding: 4em 0;
}

.col_two > :first-child {
    width: 50%;
    padding-right: 5em;
}

.col_two > :last-child {
    width: 50%
}

.col_two h4 {
    font-size: 34px;
    font-weight: 600;
}

.col_two h5 {
    font-size: 18px;
    margin-bottom: 1em;
}

.col_two p {
    margin: 0;
    font-weight: 500;
}

.col_two img {
    width: 350px;
    height: 225px;
}

/**********************************************
****************MEDIA QUERIES******************
***********************************************/

@media screen and (max-width: 500px) {
    .col_two {
        flex-direction: column;
    }
    .col_two div {
        width: 100%;
    }
}