.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards_container {
  max-width: 960px;
}

.cards_two {
  display: flex;
  justify-content: space-around;
}

.logo {
  float: left;
}

.home {
  text-align: center;
}

.home_button {
  float: left;
}

.title {
  margin-bottom: 0;
}

.vbs {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .vbs {
    flex-direction: column;
    justify-content: center;
  }
  .vbs div button {
    margin: 0 auto;
  }
  .vbs div {
    text-align: center;
    margin-top: 2rem;
  }
}